<h3 class="ui header">{{t "forms.i-i-s-r-e-база-клиента-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.idКлиента
      class=(if (v-get validationModel "idКлиента" "isInvalid") "error")
      label=(t "forms.i-i-s-r-e-база-клиента-e.idКлиента-caption")
      data-test-i-i-s-r-e-база-клиента-e-idКлиента=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "idКлиента" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.логин
      class=(if (v-get validationModel "логин" "isInvalid") "error")
      label=(t "forms.i-i-s-r-e-база-клиента-e.логин-caption")
      data-test-i-i-s-r-e-база-клиента-e-логин=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "логин" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.пароль
      class=(if (v-get validationModel "пароль" "isInvalid") "error")
      label=(t "forms.i-i-s-r-e-база-клиента-e.пароль-caption")
      data-test-i-i-s-r-e-база-клиента-e-пароль=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "пароль" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерКарта
      class=(if (v-get validationModel "номерКарта" "isInvalid") "error")
      label=(t "forms.i-i-s-r-e-база-клиента-e.номерКарта-caption")
      data-test-i-i-s-r-e-база-клиента-e-номерКарта=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерКарта" "message")}}
  </div>
</form>
